<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="RelativePathToRootFolder" value="@RelativeRoot@" />
    <add key="RelativePathToSamplesFolder" value="@RelativeSamples@" />
  </appSettings>
</configuration>